.mainFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6vh;
    background-color: var(--light-accent-color);
    color: var(--main-bg-color);
    font-size: 1.1rem;
    font-weight: 750;
}