.mainHeader{
    height: 9vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--light-accent-color);
    align-items: center;
    color: var(--main-bg-color);
}

ul{
    margin-right: 1vw;
}

ul li {
    list-style: none;
    display: inline;
    padding: 0 1vw 0 1vw;
}

.mainHeader h2{
    padding-left: 2vw;
    font-size: 1.6rem;
    font-weight: 750;
}

ul a{
    color: var(--main-bg-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

ul a:hover{
    color: white;
}