:root{
    --main-bg-color: #003F73;
    --dark-accent-color: #53210f;
    --main-dark-accent-color: #261622;
    --light-accent-color: #F28B50;
}

body{
    height: 100vh;
    width: fit-content;
}

#root{
    height: 100%;
}

html{
    background-color: var(--main-bg-color);
}